<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuMeow"
        tools:targetApi="31">
        <activity
            android:name=".PaginaDeCadastro"
            android:exported="false" />
        <activity
            android:name=".PaginaDeFeedback"
            android:exported="false" />
        <activity
            android:name=".PaginaDeAgenda"
            android:exported="false" />
        <activity
            android:name=".PaginaDeHospedagem"
            android:exported="false" />
        <activity
            android:name=".PaginaDeAdestramento"
            android:exported="false" />
        <activity
            android:name=".PaginaDeVacinacao"
            android:exported="false" />
        <activity
            android:name=".PaginaDeBanhoETosa"
            android:exported="false" />
        <activity
            android:name=".PaginaDeDenuncia"
            android:exported="false" />
        <activity
            android:name=".PaginaDeAdocao"
            android:exported="false" />
        <activity
            android:name=".PaginaDeNavegacao"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>